@using Web.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <meta name="description" content="The home page of a simple weather web site.">
    <meta name="author" content="Jim Jenkins">
    <link rel="icon" href="../../favicon.ico">
    <title>@ViewBag.Title - WeatherOrNot</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Html.Partial("NavBar")
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - WeatherOrNot.com</p>
        </footer>
    </div>
    
    @Scripts.Render("~/bundles/utility")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")    
    @Scripts.Render("~/bundles/application")
    @Scripts.Render("~/bundles/handlebars")

    @RenderSection("scripts", required: false)
</body>
</html>
